body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(223, 221, 138), rgb(202, 202, 98));
}

.boxCalc{
    border-radius: 0.2rem;
    border: solid black 1px;
    width: 50%;
    height: 50%;
    background-color: rgb(235, 247, 171);
}

.titulo{
    margin: 1rem;
    text-align: center;
}

.numeros{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.campos{
    width: 80%;
    height: 2rem;
    margin: 0 auto;
    border-radius: 3rem;
    border: 1px solid #000000;
    text-align: center;
}
.botoes{
    display: flex;
    gap: 1rem;
    justify-content: center;
    height: 10%;
    width: 100%;
}
.bnt{
    border-radius: 0.5rem;
    border: solid black 1px;
    width: 100%;
    margin: 0.2rem;
}
.paraResultado{
    text-align: center;
}

@media screen and (max-width:505px){
    body{
        font-size: 26px;
    }
    .boxCalc{
        width: 80%;
        height: 70%;
    }
    .titulo{
        margin: 1rem auto 0;
    }
    .numeros{
        justify-content: center;
        gap: 1em;
    }
    .campos{
        height: 3rem;
    }
    .botoes{
        gap: 0;
        margin: 1em auto;
    }
    .paraResultado{
        font-size: 1.2rem;
    }
    #span{
        font-size: 2rem;
    }
}