*{
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    width: 400px;
    height: 500px;
    background-color: rgba(190, 190, 190, 0.726);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10%;
}

.painel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5%;
}
    .visorPainel{
        width: 80%;
        height: 100px;
        background-color: rgb(160, 173, 211);
        border-radius: 10px;
        border: 1px solid rgb(117, 117, 117);
    }

.gridBotoes{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    height: 70%;
    margin-top: 10px;
    /**aaborder: red 2px solid;**/
}

    .gridBotoesEsquerda{
        height: 85%;
        width: 90%;
        margin: 5px;
        background-color: transparent;
        display: flex;
        /**border: rgb(47, 0, 255) 2px solid;**/
    }
        .gridBotoesLadoEsquerdo{
            display: grid;
            grid-template-columns: 50% 50%;
            width: 90%;
            height: 95%;
            margin: auto;
            /**border: rgb(255, 251, 0) 2px solid;**/
            background-color: transparent;

        }

        .botoesEsquerda{
            width: 80%;
            height: 80%;
            border-radius: 5px;
            cursor: pointer;
            background-color: rgb(238, 238, 238);
            border: 1px solid rgb(117, 117, 117);  
        }
             .botoesEsquerda:hover{
                cursor: pointer;
                background-color: rgb(226, 226, 226);
            }    
    
            .botoesEsquerda:active{
                background-color: rgb(163, 163, 163);
            }    
.limpar{
    /**border: red 2px solid;**/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.divisao{
    /**border: red 2px solid;**/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.multiplicacao{
    /**border: red 2px solid;**/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
       
}
.subtracao{
    /**border: red 2px solid;**/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
}
.resultado{
    /**border: red 2px solid;**/
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: transparent;
       
}
.adicao{
    /**border: red 2px solid;**/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
}

    

.gridBotoesDireita{
    height: 85%;
    width: 95%; 
    background-color: transparent;       
    /**border: rgb(0, 255, 85) 2px solid;**/
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
    #numeros{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: transparent;
    }

    .zero{
        width: 300%!important;
    }

    .botoesNumericos{
        width: 80%;
        height: 80%;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgb(238, 238, 238);
        border: 1px solid rgb(117, 117, 117);  
    }

    .botoesNumericos:hover{
        cursor: pointer;
        background-color: rgb(226, 226, 226);
    }
    .botoesNumericos:active{
        background-color: rgb(163, 163, 163);
    }